# Análise do DHO da empresa Kaze Tech
Vamos levantar alguns pontos de análise para setor de DHO através dos dados coletados pelo RH da empresa.

In [1]:
import sqlite3
banco_kazetech = sqlite3.connect('kazetech.db')

In [2]:
cursor = banco_kazetech.cursor()

In [9]:
cursor.execute("""
CREATE TABLE funcionarios (
    codigo integer PRIMARY KEY, 
    primeiroNome text, 
    segundoNome text, 
    ultimoNome text, 
    dataNasci text, 
    CPF integer, 
    cidade text, 
    fone integer, 
    codigoDepartamento integer, 
    funcao text, 
    salario integer)""")

In [11]:
lista_funcionarios = [('1', 'Kaze', 'Jotaro', 'Okami', '1987-06-02', '01489085009', 'Florianopolis', '48984514175', '1', 'CEO', '22000'),
                     ('2', 'Kikuye', 'Kambara', 'Silva', '1988-04-20', '01744412322', 'Florianopolis', '48984442217', '1','Gerente Geral', '22000'),
                     ('3', 'Ken', 'Ryu', 'Masters', '1980-10-13', '00485245697', 'Sao Paulo', '11999217469', '4', 'Gerente Comercial', '11000'),
                     ('4', 'Maria', 'Clara', 'Padilha', '1991-06-12', '01856985212', 'Sao Paulo', '11984714171', '2', 'Gestora de RH', '3000'),
                     ('5', 'Conan', 'Oliveira', 'Rocha', '1998-08-08', '01785213758', 'Curitiba', '41999117854', '5', 'Gerente Operacional', '16000'),
                     ('6', 'Joana', 'Dark', 'Santos', '1991-04-26', '00912381459', 'Florianopolis', '48999212122', '3', 'Analista Contabil', '4000'),
                     ('7', 'Sakura', 'Tanaka', 'Ryuji', '2003-01-02', '00321574622', 'Sao Paulo', '11984117414', '4', 'Estagiaria Comercial', '900'),
                     ('8', 'Hanna', 'Marques', 'Padua', '1947-06-10', '02020023555', 'Porto Alegre', '51999221836', '5', 'Desenvolvedora Senior', '13000'),
                     ('9', 'Carla', 'Batista', 'Ruas', '1994-10-31', '01685084771', 'Florianopolis', '48984335680', '5', 'Desenvolvedora Jr', '4000'),
                     ('10', 'Rita', 'Martins', 'Bastos', '1980-04-07', '01096321900', 'Rio de Janeiro', '21999232318', '6', 'Auxiliar Serviços Gerais', '800'),
                     ('11', 'Willian', 'Laucian', 'Paladino', '1977-12-24', '00332145698', 'Rio de Janeiro', '21984517432', '5', 'Desenvolvedor Senior', '12000'),
                     ('12', 'Valkiria', 'Guerreiro', 'Luz', '2000-09-05', '01444988537', 'Curitiba', '41984663322', '5', 'Estagiaria Desenvolvedora', '950'),
                     ('13', 'Ariane', 'Cabral', 'Lima', '1993-06-16', '01325814769', 'Arraial do Cabo', '22999669594', '4', 'Vendedora', '2500'),
                     ('14', 'Pablo', 'Garcia', 'Guerra', '1969-11-10', '00845619234', 'Florianopolis', '48984212121', '4', 'Vendedor', '2500'),
                     ('15', 'Miriam', 'Prado', 'Leite', '1997-02-05', '01552381321', 'Sao Paulo', '11999584769', '3', 'Estagiaria Financeira', '1000'),
                     ('16', 'John', 'Avon', 'Caningan', '1989-06-03', '01636921544', 'Sao Paulo', '11984010203', '5', 'Desenvolvedor Pleno', '8000'),
                     ('17', 'Kalindra', 'Vargas', 'Midori', '1987-13-11', '01487584149', 'Sao Paulo', '11999878412', '4', 'Assistente de Marketing', '1700',)]

In [12]:
cursor.executemany("""INSERT INTO funcionarios VALUES (?,?,?,?,?,?,?,?,?,?,?)""", lista_funcionarios)
banco_kazetech.commit()

In [13]:
cursor.execute("SELECT * FROM funcionarios")
print(cursor.fetchall())

[(1, 'Kaze', 'Jotaro', 'Okami', '1987-06-02', 1489085009, 'Florianopolis', 48984514175, 1, 'CEO', 22000), (2, 'Kikuye', 'Kambara', 'Silva', '1988-04-20', 1744412322, 'Florianopolis', 48984442217, 1, 'Gerente Geral', 22000), (3, 'Ken', 'Ryu', 'Masters', '1980-10-13', 485245697, 'Sao Paulo', 11999217469, 4, 'Gerente Comercial', 11000), (4, 'Maria', 'Clara', 'Padilha', '1991-06-12', 1856985212, 'Sao Paulo', 11984714171, 2, 'Gestora de RH', 3000), (5, 'Conan', 'Oliveira', 'Rocha', '1998-08-08', 1785213758, 'Curitiba', 41999117854, 5, 'Gerente Operacional', 16000), (6, 'Joana', 'Dark', 'Santos', '1991-04-26', 912381459, 'Florianopolis', 48999212122, 3, 'Analista Contabil', 4000), (7, 'Sakura', 'Tanaka', 'Ryuji', '2003-01-02', 321574622, 'Sao Paulo', 11984117414, 4, 'Estagiaria Comercial', 900), (8, 'Hanna', 'Marques', 'Padua', '1947-06-10', 2020023555, 'Porto Alegre', 51999221836, 5, 'Desenvolvedora Senior', 13000), (9, 'Carla', 'Batista', 'Ruas', '1994-10-31', 1685084771, 'Florianopolis', 48984335680, 5, 'Desenvolvedora Jr', 4000), (10, 'Rita', 'Martins', 'Bastos', '1980-04-07', 1096321900, 'Rio de Janeiro', 21999232318, 6, 'Auxiliar Serviços Gerais', 800), (11, 'Willian', 'Laucian', 'Paladino', '1977-12-24', 332145698, 'Rio de Janeiro', 21984517432, 5, 'Desenvolvedor Senior', 12000), (12, 'Valkiria', 'Guerreiro', 'Luz', '2000-09-05', 1444988537, 'Curitiba', 41984663322, 5, 'Estagiaria Desenvolvedora', 950), (13, 'Ariane', 'Cabral', 'Lima', '1993-06-16', 1325814769, 'Arraial do Cabo', 22999669594, 4, 'Vendedora', 2500), (14, 'Pablo', 'Garcia', 'Guerra', '1969-11-10', 845619234, 'Florianopolis', 48984212121, 4, 'Vendedor', 2500), (15, 'Miriam', 'Prado', 'Leite', '1997-02-05', 1552381321, 'Sao Paulo', 11999584769, 3, 'Estagiaria Financeira', 1000), (16, 'John', 'Avon', 'Caningan', '1989-06-03', 1636921544, 'Sao Paulo', 11984010203, 5, 'Desenvolvedor Pleno', 8000), (17, 'Kalindra', 'Vargas', 'Midori', '1987-13-11', 1487584149, 'Sao Paulo', 11999878412, 4, 'Assistente de Marketing', 1700)]

In [40]:
cursor.execute("CREATE TABLE departamentos (codigo integer PRIMARY KEY, nomeDep text, codigoFuncionarioGerente integer)")
lista_departamentos = [('1', 'Gerencia Geral', '1'),
                      ('2', 'Recursos Humanos', '4'),
                      ('3', 'Financeiro', '6'),
                      ('4', 'Comercial', '3'),
                      ('5', 'Produção', '5'),
                      ('6', 'Governança', '10')]
cursor.executemany("""INSERT INTO departamentos VALUES (?,?,?)""", lista_departamentos)
banco_kazetech.commit()

In [9]:
cursor.execute("SELECT * FROM departamentos")
print(cursor.fetchall())

[(1, 'Gerencia Geral', 1), (2, 'Recursos Humanos', 4), (3, 'Financeiro', 6), (4, 'Comercial', 3), (5, 'Produção', 5), (6, 'Governança', 10)]

### A) Lista de nome e sobrenome ordenado por sobrenome:

In [11]:
cursor.execute("""SELECT primeiroNome, ultimoNome 
FROM funcionarios 
ORDER BY ultimoNome""")
print(cursor.fetchall())

[('Rita', 'Bastos'), ('John', 'Caningan'), ('Pablo', 'Guerra'), ('Miriam', 'Leite'), ('Ariane', 'Lima'), ('Valkiria', 'Luz'), ('Ken', 'Masters'), ('Kalindra', 'Midori'), ('Kaze', 'Okami'), ('Maria', 'Padilha'), ('Hanna', 'Padua'), ('Willian', 'Paladino'), ('Conan', 'Rocha'), ('Carla', 'Ruas'), ('Sakura', 'Ryuji'), ('Joana', 'Santos'), ('Kikuye', 'Silva')]

### B) Lista de todos os campos de funcionários ordenados por cidade:

In [12]:
cursor.execute("""SELECT * 
FROM funcionarios 
ORDER BY cidade""")
print(cursor.fetchall())

[(13, 'Ariane', 'Cabral', 'Lima', '16/06/1993', 1325814769, 'Arraial do Cabo', 22999669594, 4, 'Vendedora', 2500), (5, 'Conan', 'Oliveira', 'Rocha', '08/08/1998', 1785213758, 'Curitiba', 41999117854, 5, 'Gerente Operacional', 16000), (12, 'Valkiria', 'Guerreiro', 'Luz', '05/09/2000', 1444988537, 'Curitiba', 41984663322, 5, 'Estagiaria Desenvolvedora', 950), (1, 'Kaze', 'Jotaro', 'Okami', '02/06/1987', 1489085009, 'Florianopolis', 48984514175, 1, 'CEO', 22000), (2, 'Kikuye', 'Kambara', 'Silva', '20/04/1988', 1744412322, 'Florianopolis', 48984442217, 1, 'Gerente Geral', 22000), (6, 'Joana', 'Dark', 'Santos', '22/12/1991', 912381459, 'Florianopolis', 48999212122, 3, 'Analista Contabil', 4000), (9, 'Carla', 'Batista', 'Ruas', '31/10/1994', 1685084771, 'Florianopolis', 48984335680, 5, 'Desenvolvedora Jr', 4000), (14, 'Pablo', 'Garcia', 'Guerra', '10/11/1969', 845619234, 'Florianopolis', 48984212121, 4, 'Vendedor', 2500), (8, 'Hanna', 'Marques', 'Padua', '10/06/1947', 2020023555, 'Porto Alegre', 51999221836, 5, 'Desenvolvedora Senior', 13000), (10, 'Rita', 'Martins', 'Bastos', '07/04/1980', 1096321900, 'Rio de Janeiro', 21999232318, 6, 'Auxiliar Serviços Gerais', 800), (11, 'Willian', 'Laucian', 'Paladino', '24/12/1977', 332145698, 'Rio de Janeiro', 21984517432, 5, 'Desenvolvedor Senior', 12000), (3, 'Ken', 'Ryu', 'Masters', '13/10/1980', 485245697, 'Sao Paulo', 11999217469, 4, 'Gerente Comercial', 11000), (4, 'Maria', 'Clara', 'Padilha', '12/06/1991', 1856985212, 'Sao Paulo', 11984714171, 2, 'Gestora de RH', 3000), (7, 'Sakura', 'Tanaka', 'Ryuji', '02/01/2003', 321574622, 'Sao Paulo', 11984117414, 4, 'Estagiaria Comercial', 900), (15, 'Miriam', 'Prado', 'Leite', '05/02/1997', 1552381321, 'Sao Paulo', 11999584769, 3, 'Estagiaria Financeira', 1000), (16, 'John', 'Avon', 'Caningan', '03/06/1989', 1636921544, 'Sao Paulo', 11984010203, 5, 'Desenvolvedor Pleno', 8000), (17, 'Kalindra', 'Vargas', 'Midori', '13/11/1987', 1487584149, 'Sao Paulo', 11999878412, 4, 'Assistente de Marketing', 1700)]

### C) Lista dos funcionários com salario superior a 1000 reais, odrdenados por nome completo:

In [13]:
cursor.execute("""SELECT * 
FROM funcionarios 
WHERE salario > 1000 
ORDER BY primeiroNome, segundoNome, ultimoNome""")
print(cursor.fetchall())

[(13, 'Ariane', 'Cabral', 'Lima', '16/06/1993', 1325814769, 'Arraial do Cabo', 22999669594, 4, 'Vendedora', 2500), (9, 'Carla', 'Batista', 'Ruas', '31/10/1994', 1685084771, 'Florianopolis', 48984335680, 5, 'Desenvolvedora Jr', 4000), (5, 'Conan', 'Oliveira', 'Rocha', '08/08/1998', 1785213758, 'Curitiba', 41999117854, 5, 'Gerente Operacional', 16000), (8, 'Hanna', 'Marques', 'Padua', '10/06/1947', 2020023555, 'Porto Alegre', 51999221836, 5, 'Desenvolvedora Senior', 13000), (6, 'Joana', 'Dark', 'Santos', '22/12/1991', 912381459, 'Florianopolis', 48999212122, 3, 'Analista Contabil', 4000), (16, 'John', 'Avon', 'Caningan', '03/06/1989', 1636921544, 'Sao Paulo', 11984010203, 5, 'Desenvolvedor Pleno', 8000), (17, 'Kalindra', 'Vargas', 'Midori', '13/11/1987', 1487584149, 'Sao Paulo', 11999878412, 4, 'Assistente de Marketing', 1700), (1, 'Kaze', 'Jotaro', 'Okami', '02/06/1987', 1489085009, 'Florianopolis', 48984514175, 1, 'CEO', 22000), (3, 'Ken', 'Ryu', 'Masters', '13/10/1980', 485245697, 'Sao Paulo', 11999217469, 4, 'Gerente Comercial', 11000), (2, 'Kikuye', 'Kambara', 'Silva', '20/04/1988', 1744412322, 'Florianopolis', 48984442217, 1, 'Gerente Geral', 22000), (4, 'Maria', 'Clara', 'Padilha', '12/06/1991', 1856985212, 'Sao Paulo', 11984714171, 2, 'Gestora de RH', 3000), (14, 'Pablo', 'Garcia', 'Guerra', '10/11/1969', 845619234, 'Florianopolis', 48984212121, 4, 'Vendedor', 2500), (11, 'Willian', 'Laucian', 'Paladino', '24/12/1977', 332145698, 'Rio de Janeiro', 21984517432, 5, 'Desenvolvedor Senior', 12000)]

### D) Lista da data de nascimento e o primeiro nome dos funcionários ordenados do mais novo para o mais velho:

In [15]:
cursor.execute("""SELECT dataNasci, primeiroNome 
FROM funcionarios 
ORDER BY dataNasci DESC, primeiroNome""")
print(cursor.fetchall())

[('2003-01-02', 'Sakura'), ('2000-09-05', 'Valkiria'), ('1998-08-08', 'Conan'), ('1997-02-05', 'Miriam'), ('1994-10-31', 'Carla'), ('1993-06-16', 'Ariane'), ('1991-06-12', 'Maria'), ('1991-04-26', 'Joana'), ('1989-06-03', 'John'), ('1988-04-20', 'Kikuye'), ('1987-13-11', 'Kalindra'), ('1987-06-02', 'Kaze'), ('1980-10-13', 'Ken'), ('1980-04-07', 'Rita'), ('1977-12-24', 'Willian'), ('1969-11-10', 'Pablo'), ('1947-06-10', 'Hanna')]

### E) Lista do valor total da folha de pagamento:

In [17]:
total_folha = """SELECT SUM(salario) 
FROM funcionarios"""
cursor.execute(total_folha)
print(cursor.fetchall())

[(125350,)]

### F) Lista do nome, nome do departamento e a função de todos os funcionários:

In [19]:
lista_nomes = """SELECT funcionarios.primeiroNome, departamentos.nomeDep, funcionarios.funcao
FROM funcionarios INNER JOIN departamentos ON funcionarios.codigoDepartamento = departamentos.codigo
ORDER BY funcionarios.primeiroNome"""
cursor.execute(lista_nomes)
print(cursor.fetchall())

[('Ariane', 'Comercial', 'Vendedora'), ('Carla', 'Produção', 'Desenvolvedora Jr'), ('Conan', 'Produção', 'Gerente Operacional'), ('Hanna', 'Produção', 'Desenvolvedora Senior'), ('Joana', 'Financeiro', 'Analista Contabil'), ('John', 'Produção', 'Desenvolvedor Pleno'), ('Kalindra', 'Comercial', 'Assistente de Marketing'), ('Kaze', 'Gerencia Geral', 'CEO'), ('Ken', 'Comercial', 'Gerente Comercial'), ('Kikuye', 'Gerencia Geral', 'Gerente Geral'), ('Maria', 'Recursos Humanos', 'Gestora de RH'), ('Miriam', 'Financeiro', 'Estagiaria Financeira'), ('Pablo', 'Comercial', 'Vendedor'), ('Rita', 'Governança', 'Auxiliar Serviços Gerais'), ('Sakura', 'Comercial', 'Estagiaria Comercial'), ('Valkiria', 'Produção', 'Estagiaria Desenvolvedora'), ('Willian', 'Produção', 'Desenvolvedor Senior')]

### G) Lista da quantidade de funcionários desta empresa:

In [20]:
lista_n_funcionarios = """ SELECT COUNT(*) 
FROM funcionarios"""
cursor.execute(lista_n_funcionarios)
print(cursor.fetchall())

[(17,)]

### H) Lista do nome do departamento e do funcionário ordenado por departamento e funcionário:

In [22]:
lista_dep_func = """SELECT departamentos.nomeDep, funcionarios.primeiroNome
FROM departamentos INNER JOIN funcionarios ON departamentos.codigo = funcionarios.codigoDepartamento
ORDER BY departamentos.nomeDep, funcionarios.primeiroNome"""
cursor.execute(lista_dep_func)
print(cursor.fetchall())

[('Comercial', 'Ariane'), ('Comercial', 'Kalindra'), ('Comercial', 'Ken'), ('Comercial', 'Pablo'), ('Comercial', 'Sakura'), ('Financeiro', 'Joana'), ('Financeiro', 'Miriam'), ('Gerencia Geral', 'Kaze'), ('Gerencia Geral', 'Kikuye'), ('Governança', 'Rita'), ('Produção', 'Carla'), ('Produção', 'Conan'), ('Produção', 'Hanna'), ('Produção', 'John'), ('Produção', 'Valkiria'), ('Produção', 'Willian'), ('Recursos Humanos', 'Maria')]

# Análises Extras:

In [18]:
cursor.execute("""
CREATE TABLE projetos (
    idProjeto integer PRIMARY KEY, 
    nomeProjeto text, 
    codigoDepResponsavel integer, 
    codigoFuncionarioResp integer, 
    verba integer)""")

lista_projetos = [('1', 'Alpha', '1', '2', '64000'),
                 ('2', 'Beta', '4', '3', '71000'),
                 ('3', 'Gama', '5', '5', '153000'),
                 ('4', 'Sigma', '5', '8', '82000'),
                 ('5', 'Omega', '3', '6', '21000')]
cursor.executemany("""INSERT INTO projetos VALUES (?,?,?,?,?)""", lista_projetos)
banco_kazetech.commit()

### Lista dos nomes dos responsaveis pelos projetos, ordenados decrescente pelo código do projeto:

In [23]:
lista_ordem_projeto = """SELECT idProjeto, funcionarios.primeiroNome
FROM funcionarios INNER JOIN projetos ON funcionarios.codigo = projetos.codigoFuncionarioResp
ORDER BY idProjeto DESC"""
cursor.execute(lista_ordem_projeto)
print(cursor.fetchall())

[(5, 'Joana'), (4, 'Hanna'), (3, 'Conan'), (2, 'Ken'), (1, 'Kikuye')]

### Lista dos projetos com valor de verba superior a 70000 reais, ordenados por valor da verba:

In [19]:
lista_verba = """SELECT * FROM projetos 
WHERE verba > 70000
ORDER BY verba"""
cursor.execute(lista_verba)
print(cursor.fetchall())

[(2, 'Beta', 4, 3, 71000), (4, 'Sigma', 5, 8, 82000), (3, 'Gama', 5, 5, 153000)]

### Lista do valor total de verba disponível para projetos na empresa:

In [31]:
cursor.execute("""SELECT SUM(verba)
FROM projetos""")
print(cursor.fetchall())

[(391000,)]

### Lista de projetos por departamento, ordenados pelo nome do projeto:

In [22]:
lista_projetos_dep = """SELECT projetos.nomeProjeto, departamentos.nomeDep
FROM departamentos INNER JOIN projetos ON departamentos.codigo = projetos.codigoDepResponsavel
ORDER BY nomeProjeto"""
cursor.execute(lista_projetos_dep)
print(cursor.fetchall())

[('Alpha', 'Gerencia Geral'), ('Beta', 'Comercial'), ('Gama', 'Produção'), ('Omega', 'Financeiro'), ('Sigma', 'Produção')]